[run]
source = src/civilpy
branch=True
omit=
    tests,
    .tox/*,
    docs/*,
    res*,
    Training/*,
    venv/*,
    */general/bentley/*,
    */general/database_tools.py,
    */general/photos.py,
    */general/jupyter.py
parallel=True

