######################## .gitignore CHEAT SHEET ################################

# ** - Add before a pattern to match directories anywhere in the repository
# *  - Wildcard character that matches zero or more characters
# !  - Negates a file from gitignore (ensures the file is commited to git)
# /  - Matches files only in the repository root
# ?  - Matches exactly one character
# [] - matches a single character
#       - May be used with a range [0-9].log
#       - Or a set [0123456789].log
#       - ! can be used within the brackets to negate characters in the set

######################## .gitignore Definitions ################################



##### GENERAL ####

# ignores logs
*.log
# ignores .env files
*.env
# ignores pycharm specific files
*.idea
*.iml

# ignore jupyter notebook checkpoint files
.ipynb_checkpoints/
civilpy/.ipynb_checkpoints/



##### Files ####

# ignores temporary files used development purposes
civilpy/Working.py
/civilpy/UI/test.db
civilpy/Test_NB.ipynb


##### DIRECTORIES ####

# Ignore folders used to hold user data for processing, but keeps the folders as
# part of the project structure with the .gitkeep files
civilpy/data/
!civilpy/data/.gitkeep
civilpy/photos/*
!civilpy/photos/.gitkeep

# Completely ignore these folders
docs/build
civilpy/__pycache__/
civilpy/Legacy/__pycache__/
civilpy/Legacy/journals/
civilpy/scrapers/__pycache__/
/Notebooks/.ipynb_checkpoints/
/Kivy/kivy/
/data/*
/Secrets/
/secrets.json
/Notebooks/odot_data/
/Notebooks/Load Rating Reference/
/civilpy/scrapers/
/Data/
/docs/_build
/docs/_static
/docs/_templates
/flask/
/ODOT/
/projects/03486 - Tydings Bridge/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OSX useful to ignore
*.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IntelliJ Idea family of suites
.idea
*.iml
## File-based project format:
*.ipr
*.iws
## mpeltonen/sbt-idea plugin
.idea_modules/

# Briefcase build directories
iOS/
macOS/
windows/
android/
linux/
django/
/Notebooks/ODOT/
/civilpy/.buildozer/
/secrets/secrets.json
/Training/samplekml.kml
/Training/scratch.py
/Training/scratch.ipynb
/.coverage
/res/photos/*
/Training/map.html
/res/2022AllRecordsDelimitedAllStates.txt
